html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    color:white;
    background-color:black;
    flex-direction: column;
    display: flex;
}
ul {
    display:flex;
    justify-content:space-evenly   ;
    list-style-type:none;
    align-items:center;
    padding: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
ul img{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    left: 10px;
}
a {
    color: white;
    text-decoration: none;
}

header div  {
    display:flex;
    justify-content:center ;
}
section{
    display: flex;
    justify-content: center;
}
section  img{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 100%;
    align-items: center;
    margin:  20px;
   
    
}

section h1{
    text-align: center;
    color: green;
    
    
}
section h4{
    text-align: center;
    color: red;
    margin: 20px;
    text-align: center;
}
section h3{
    margin: 20px;
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    border: 2px solid aqua;
    display: flex;
    justify-content: center;
    
    
}
footer p{
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    
}
footer a {
    margin: 20px;
    text-align: center;
   

}

